<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd"
	default-lazy-init="true">
	
	<bean id="Doc" class="com.portal.doccenter.action.tag.DocTagModel"/>
	<bean id="DocList" class="com.portal.doccenter.action.tag.DocListTagModel"/>
	<bean id="DocPage" class="com.portal.doccenter.action.tag.DocPageTagModel"/>
	<bean id="Channel" class="com.portal.doccenter.action.tag.ChannelTagModel"/>
	<bean id="ChannelList" class="com.portal.doccenter.action.tag.ChannelListTagModel"/>
	<bean id="ChannelPage" class="com.portal.doccenter.action.tag.ChannelPageTagModel"/>
	<bean id="ModelList" class="com.portal.doccenter.action.tag.ModelListTagModel"/>
	<bean id="SearchPage" class="com.portal.doccenter.action.tag.SearchPageTagModel"/>
	<bean id="SignCount" class="com.portal.doccenter.action.tag.SignCountTagModel"/>
	<bean id="ArticleCount" class="com.portal.doccenter.action.tag.ArticleCountTagModel"/>

</beans>
