<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{HH:mm:ss.SSS} %-5level %logger{80} - %msg%n</Pattern>
		</encoder>
	</appender>
	<!--
	-->
	<logger name="com.portal">
		<level value="ERROR" />
	</logger>
	<logger name="com.javapms">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework">
		<level value="ERROR" />
	</logger>
	<logger name="org.springframework.web">
		<level value="ERROR" />
	</logger>
	<logger name="org.hibernate">
		<level value="ERROR" />
	</logger>
	<root>
		<level value="ALL" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>

