<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd"
	default-lazy-init="true">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/admin/login.do" />
		<property name="successUrl" value="/admin/index.do" />
		<property name="unauthorizedUrl" value="/admin/login.do" />
		<property name="filters">
			<util:map>
				<entry key="logout" value-ref="logoutFilter" />
				<entry key="site" value-ref="siteFilter" />
				<entry key="perm" value-ref="permFilter" />
			</util:map>
		</property>
		<property name="filterChainDefinitions">
			<value>
				/admin/login.do = site,anon
				/admin/kind/o_upload_file.do = site
				/admin/o_upload_attach.do = site
				/admin/o_upload_img.do = site
				/admin/logout.do = site,logout
				/admin/index.do = site,perm
				/admin/** = site,perm
			</value>
		</property>
	</bean>
	<bean id="siteFilter" class="com.portal.sysmgr.filter.SiteFilter"/>
	<bean id="permFilter" class="com.portal.sysmgr.filter.PermFilter"/>
	<bean id="logoutFilter" class="org.apache.shiro.web.filter.authc.LogoutFilter">
		<property name="redirectUrl" value="/admin/login.do" />
	</bean>

	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<!--设置自定义realm -->
		<property name="realm" ref="portalRealm" />
	</bean>

	<bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor" />

	<!--自定义Realm 继承自AuthorizingRealm -->
	<bean id="portalRealm" class="com.portal.sysmgr.shiro.PortalRealm"></bean>
	
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

</beans>